version: '3.3'
services:
  provider:
    image: zhangshuainbb/cloudslit-provider:v0.0.13
    network_mode: host
    restart: always
    environment:
      PR_LOG_LEVEL: '5'
      PR_APP_LOCAL_ADDR: 'xxx'
      PR_APP_LOCAL_PORT: '5091'
      PR_WEB3_PRICE: '20'
      PR_WEB3_PRIVATE_KEY: 'xxx'
      PR_WEB3_CONTRACT_TOKEN: '0x3A35207918FEE0F59a32a1a36B58A758B4F222de'
      PR_WEB3_W3S_TOKEN: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDU4MUJkZEVGNTA3MDlmZjIzQzEwN0Q5YUU2NEVlMjc5M0IyMzk3NWMiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2NTY2NDc2MDM2MjUsIm5hbWUiOiJjbG91ZHNsaXQifQ.7iUZuCDn1SNn7CxuR_kdAWf9_PfpuJlqPmy7ZdB2x9U'
      PR_WEB3_W3S_TIMEOUT: '10'
      PR_WEB3_W3S_RETRY_COUNT: '100'
      PR_WEB3_ETH_URL: 'https://ropsten.infura.io/v3'
      PR_WEB3_ETH_PROJECT_ID: '45630f96f9d841679dc200a7c97763d2'
      PR_MYSQL_HOST: '127.0.0.1'
      PR_MYSQL_PORT: '23306'
      PR_MYSQL_USER: 'root'
      PR_MYSQL_PASSWORD: '123456'
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: 1G
        reservations:
          cpus: '0.50'
          memory: 500M
    depends_on:
      icefiresqlite:
        condition: "service_healthy"

  icefiresqlite:
    image: taosheng205054/icefire-sqlite:latest
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "127.0.0.1", "-P", "23306","-uroot","-p123456" ]
      timeout: 20s
      retries: 10
    ports:
      - 23306:23306
    volumes:
      - ./db/sqlite.db:/app/db/sqlite.db
      - "./sqlite_config.yaml:/app/config/config.yaml"
