#APP ENV
app:
  env: "dev" # dev,release
  sysname: "CloudSLit"
  port: 80
  domain: http://192.168.2.80:9534

#Mysql
mysql:
  dbname: "zta"
  prefix: "zta_"
  pool:
    pool-min-cap: 10
    pool-ex-cap: 5
    pool-max-cap: 40
    pool-idle-timeout: 3600
    pool-wait-count: 1000
    pool-wai-timeout: 30
  write:
    host: "127.0.0.1"
    port: 23306
    user: "root"
    password: "123456"
#  write:
#    host: "192.168.2.80"
#    port: 3306
#    user: "root"
#    password: "123456"

#Redis
redis:
  addr: "192.168.2.80:6379"

#CA
ca:
  sign-url: "https://192.168.2.80:8581"
  auth-key: "0739a645a7d6601d9d45f6b237c4edeadad904f2fce53625dfdd541ec4fc8134"

oauth2:
  client-id: "736c3c420d6091f4cac0"
  client-secret: "aeec3165d947ce121692ddf22ec77b7f2f0ec2bf"

p2p:
  enable: false
#  account: "0x828233e3908fB45d40baC6B2F19F8A239ab7ae7d"
  service-discovery-id: "cloudslit/provider"
  service-discovery-mode: "advertise" # advertise or announce
  service-metadata-topic: "cloudslit_provider_metadata" # advertise or announce

web3:
  register: "false"
  private-key: "a5042f010a7d7f5652097768612265014ec390ea6f2f281f362091a5c39f4900"
  contract:
    token: "0x3A35207918FEE0F59a32a1a36B58A758B4F222de"
  w3s:
    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDU4MUJkZEVGNTA3MDlmZjIzQzEwN0Q5YUU2NEVlMjc5M0IyMzk3NWMiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2NTY2NDc2MDM2MjUsIm5hbWUiOiJjbG91ZHNsaXQifQ.7iUZuCDn1SNn7CxuR_kdAWf9_PfpuJlqPmy7ZdB2x9U"
    timeout: 10
    retry-count: 100
  eth:
    url: "https://ropsten.infura.io/v3"
    projectid: "45630f96f9d841679dc200a7c97763d2"
